* {	
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#764897,  #512570);
  color: white;
  min-height: 100vh;
  overflow-x: hidden; 
   padding-top: 80px;
}

/* Header/Navbar */
header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;           
  padding: 0 60px;        
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, #764897, #512570);
  z-index: 1000;
}

.logo img {
  

  max-height: 70px;       
  width: 80px;
  height:  80px;
  display: block;
}



nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;

  
}


nav ul li a:hover {
  
  color: yellow;
  border-bottom: 2px solid yellow;
}

.menu-toggle {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  display: none; 
  margin-left: auto; 
}
/* Active (clicked/current) link style */
nav ul li a.active {
  color: yellow;
  border-bottom: 2px solid yellow;
}

/* Main Section */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
   
  gap: 60px;
  padding: 100px 60px;
  min-height: calc(100vh - 80px);
  flex-direction: row-reverse;
}

.content {
  flex: 1.2;
  white-space: nowrap;
   
}

.content h1 {
  font-size: 2.8rem;
  font-weight: 750;
  margin-bottom: 30px;
  white-space: nowrap;
  margin-left: 60px;
   
}
.content h4 {
   font-size: 1.9rem;
  margin-bottom: 30px;
  margin-left: 125px;
    font-weight: 700;
}


.content p {
  font-size: 1.9rem;
  margin-bottom: 30px;
  margin-left: 190px;
}


button {
  background: transparent;
  border: 3px solid white;
  color: white;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 230px;
  margin-top:10px
}

button:hover {
  background-color:  #5e2a82;
  color: yellow;
  border-color:yellow;
}

.image-container {
  flex: 1;
   
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
 
}

.image-container img {
  width: 100%;
  height:auto;
  border-radius: 20px;
  display: block;
  transition: opacity 1s ease-in-out;
  
  
}

/* Services */
.services-section {
  background: #ffffff;
  color: #333;
  min-height: 91vh;
  padding:60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 
}

.services-section h2 {
  font-size: 2.5rem;
  color:   #5e2a82;
  text-align: center;
  margin-bottom: 10px;
}

.services-section p {
  text-align: center;
  font-size: 20px;
  max-width: 700px;
  margin-bottom: 40px;
  color:  #3c1c53;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background:  #eddff7;
  
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 60px 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card i {
  font-size: 32px;
  background-color: #512570;
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 1px;
  display: inline-block;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #383838;
}
